html {
	height: 100%;
}

body {
	height: 100%;
	display: flex;
    flex-direction: column;
	margin: 0;
	padding: 0;
	background-color: #f4f4f9;
	font-family: Arial, sans-serif;
	overflow-x: hidden;
}

main {
	margin: 2rem;
	flex: 1;
}

nav,p,a,button{
	font-size: 1rem;
	color: #000000;
}

h1, h2 {
    color: #172d6f;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

canvas#backgroundCanvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
}

/* ****** */
/* Navbar */
/* ****** */
.navbar {
	display: flex; 
	justify-content: space-between;
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
}

.nav-menu {
	list-style-type: none; 
	display: flex;         
	justify-content: center;
	align-items: center; 
	margin: 0;
	padding: 0;
	flex-grow: 1;
}

.nav-item {
	margin: 0;
}

.nav-link {
	text-decoration: none;           
	padding: 15px 15px;    
	transition: background-color 0.3s;
}

.nav-link:hover {
	background-color: #ddd;
}

.nav-link#logo {
	padding: 15px 10px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

.active {
	color: #f4f4f9;
	background-color: #172d6f;
}

.active:hover {
	color: #f4f4f9;
	background-color: #001656;
}

/* ********************* */
/* Language menu styling */
/* ********************* */
.lang-menu {
	list-style-type: none; 
	align-items: center; 
	margin: 0;
	padding: 0;
}

.lang-item {
	margin: 0;
	position: relative;
}

.lang-button {
	text-decoration: none;  
	padding: 15px 20px;    
	transition: background-color 0.3s;
	display: flex;
	border: none;
	background-color: #f4f4f9;
	font-size: 16px;
}

.lang-button:hover {
	background-color: #eee;
}

.lang-dropdown{
	display: none;
	list-style-type: none; 
	position: absolute;  
	align-items: center; 
	top: 100%;
   	right: 0;
	margin: 0;
	padding: 0;
	background-color: #f4f4f9;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
	z-index: 1;
	max-width: calc(100vw - 20px);
    box-sizing: border-box;
}

.lang-item:hover .lang-dropdown{
	display: block;
}

.lang-dropdown-item{
	margin: 0;
}

.dropdown-link {
	text-decoration: none;           
	padding: 15px 18px;     
	transition: background-color 0.3s;
	float: none;
	display: block;
	text-align: left;
}

.dropdown-link:hover{
	background-color: #ddd;
}


/* ********** */
/* Breadcrumb */
/* ********** */
.breadcrumbs {
	margin-top: 10px;
	font-size: 0.8em;
	padding-left: 0.8rem;
}

.breadcrumbs a {
	text-decoration: none;
	font-size: 0.8em;
}

.breadcrumbs a:hover {
	text-decoration: underline;
}

/* ******* */
/* Buttons */
/* ******* */

.button-container {
	margin-top: 1.5rem;
}
.button-link-1 {
	display: inline-block;
	text-decoration: none;
	color: #f4f4f9;
	background-color: #172d6f;
	border: 2px solid #172d6f;
	padding: 0.8rem 1.5rem;
	font-size: 1rem;
	cursor: pointer;
	border-radius: 5px;
}

.button-link-2 {
	display: inline-block;
	text-decoration: none;
	background-color: #f4f4f9;
	color: #172d6f;
	border: 1px solid #172d6f;
	padding: 0.8rem 1.5rem;
	font-size: 1rem;
	cursor: pointer;
	border-radius: 5px;
}

.button-link-1:hover {
	background-color: #001656;
	border-color: #001656;
}

.button-link-2:hover {
	background-color: #ddd;
	border-color: #001656;
}

/* ****** */
/* Footer */
/* ****** */
.footer {
	padding: 1px 0;
	text-align: center;
}

.footer section, 
.footer nav {
	margin: 15px 0;
	padding: 0 10px;
}

.footer h3 {
	font-size: 1em;
	margin-bottom: 10px;
	color: #00a6ff;
}

.footer p, 
.footer ul {
	font-size: 0.8em;
	line-height: 1.6;
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer ul li {
	margin: 10px 0;
}

.footer a {
	color: #00a6ff;
	text-decoration: none;
	transition: color 0.3s;
}

.footer a:hover {
	color: #7fd2ff;
}

.footer-content-container {
	display: flex;
	justify-content: space-around;
}

.footer .social-media ul {
	display: flex;
	justify-content: center;
}

.footer address {
	font-style: normal;
	font-size: 0.6em;
	color: #bbb;
}


/* **** */
/* Home */
/* **** */

.home {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	flex-direction: column;
	text-align: center;
}

.home h1 {
	font-size: 2.5rem;
	margin: 0.5rem;
}

.home .button-link-1,.home .button-link-2 {
	margin: 0 0.5rem;
}

/* ***** */
/* About */
/* ***** */
.about-section {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    object-fit: cover;
	margin-right: 32px;
}

.about-text {
    flex: 1;
}

.about-text h2 {
    margin-top: 0;
    font-size: 2em;
}

.about-text p {
    margin: 10px 0;
    line-height: 1.6;
}

.about-text a {
    color: #172d6f;
    text-decoration: none;
    font-weight: bold;
}

.about-text a:hover {
    text-decoration: underline;
}

/* ******** */
/* Projects */
/* ******** */
.projects-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.project {
    display: flex;
    align-items: center;
    gap: 20px;
}

/*
.project:nth-child(even) {
    flex-direction: row-reverse;
}*/

.project img {
    width: 40%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project .text {
    width: 60%;
}

.project h3 {
    font-size: 1.8em;
    margin: 0 0 10px;
}

.project p {
    margin: 5px 0;
    line-height: 1.5;
}

.project .button-link-1, .project .button-link-2{
	margin: 1rem 0;
}


/* ****** */
/* Skills */
/* ****** */

h1 {
	color: #172d6f;;
    margin: 0;
    font-size: 2.5em;
    text-align: center;
}

/* Skills Section */
.skills-section {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
}

.skills-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #172d6f;
    text-align: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.skill {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.skill h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #333;
}

.skill p {
    margin: 0;
    line-height: 1.6;
    color: #555;
}

/* ******* */
/* Contact */
/* ******* */
.contact-main {
	height: 100%;
}

.contact-section {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-info h2 {
    margin: 0 0 10px;
    font-size: 2em;
	color: #172d6f;
}

.contact-info p {
    margin: 10px 0;
    line-height: 1.6;
	color: #333;
}

.contact-info a {
    color: #172d6f;
    text-decoration: none;
    font-weight: bold;
}

.contact-info a:hover {
    text-decoration: underline;
}