*{
	border: 1px solid blue;
}

body, ul {
	margin: 0;
	padding: 0;
}

/* ************** */
/* Navbar styling */
/* ************** */
.navbar {
	background-color: #333;
	display: flex; 
	justify-content: space-between;
}

.nav-menu {
	list-style-type: none; 
	display: flex;         
	justify-content: space-around;
	align-items: center; 
	margin: 0;
	padding: 0;
}

.nav-item {
	margin: 0;
}

.nav-link {
	text-decoration: none;
	color: white;        
	font-size: 18px;       
	padding: 15px 15px;    
	transition: background-color 0.3s;
}

.nav-link:hover {
	background-color: #575757;
}

.nav-link#logo {
	padding: 15px 10px;
}

/* ********************* */
/* Language menu styling */
/* ********************* */
.language-menu {
	list-style-type: none; 
	display: flex;         
	justify-content: space-around;
	align-items: center; 
	margin: 0;
	padding: 0;
}

.language-item {
	margin: 0;
	position: relative;
}

.language-link {
	text-decoration: none;
	color: white;        
	font-size: 18px;       
	padding: 15px 15px;    
	transition: background-color 0.3s;
	display: flex;
	width: 70px;
}

.language-link:hover {
	background-color: #575757;
}

.dropdown-menu{
	display: none;
	list-style-type: none; 
	position: absolute;  
	align-items: center; 
	top: 100%;
    left: 0;
	margin: 0;
	padding: 0;
	background-color: white;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
	z-index: 1;
}

.language-item:hover .dropdown-menu{
	display: block;
}

.dropdown-item{
	margin: 0;
}

.dropdown-link {
	text-decoration: none;      
	font-size: 18px;       
	padding: 15px 15px;     
	transition: background-color 0.3s;
	float: none;
	display: block;
	text-align: left;
}

.dropdown-link:hover{
	background-color: #ff0000;
}


/* ********** */
/* Breadcrumb */
/* ********** */
.breadcrumb {
	font-size: 16px;
}

.breadcrumb a {
	text-decoration: none;
}

.breadcrumb a:hover {
	text-decoration: underline;
}

/* ************** */
/* Card Container */
/* ************** */
.card {
	width: 300px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	font-family: Arial, sans-serif;
	background-color: #fff;
}

/* Card Image */
.card img {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #ccc;
}

/* Card Content */
.card-content {
	padding: 15px;
}

.card-title {
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 10px;
}

.card-description {
	font-size: 14px;
	color: #666;
	line-height: 1.5;
	margin: 0;
}

/* Card Footer/Buttons */
.card-footer {
	padding: 10px 15px;
	text-align: center;
	background-color: #f9f9f9;
	border-top: 1px solid #ccc;
}

.card-footer a {
	text-decoration: none;
	color: #007BFF;
	font-weight: bold;
}

.card-footer a:hover {
	color: #0056b3;
}

/* ************ */
/* Main styling */
/* ************ */
.main {
	margin: 2% 2%;
}

/* ************** */
/* Footer styling */
/* ************** */
.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8rem; 	
}

.footer p {
    margin: 5px 0;
}